/* Import google font */
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: steelblue;
    font-family: "Muli", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;;
    padding: 20px 40px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin: 25px;
}


.form-group {
    margin: 20px 0 40px;
    position: relative;
    width: 300px;
}

.form-group input {
    display: block;
    border: 0;
    padding: 16px 0;
    background-color: transparent;
    border-bottom: 2px #fff solid;
    color: #fff;
    margin-bottom: 5px;
    font-size: 15px;
    width: 100%;
}

input:focus,
input:valid {
    outline: none;
    border-bottom-color: lightblue;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    font-family: inherit;
    font-size: 16px;
    padding: 15px;
    background-color: lightblue;
    border: 0;
    border-radius: 5px;
    margin-top: 15px;

}

.btn:focus {
    outline: 0;
}
.btn:active {
    transform: scale(0.98);
}

.txt {
    margin-top: 25px;
}
.txt a {
    text-decoration: none;
    color: lightblue
}

/* make it dance */
.form-group .label{
    position: absolute;
    top: 10px;
    left: 0;
}

.label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;

    transition: transform 0.3s cubic-bezier(0.71,-0.47, 0.33, 1.62);
}

input:focus + label span,
input:valid + label span {
    color: lightblue;
    transform: translateY(-30px);
}
